VITE_AZURE_CLIENT_ID=a88559fd-d7a8-4e3c-898b-a78f0fee1985
VITE_AZURE_TENANT_ID=14cc35b0-80bc-4ffd-b90a-1fc02097a113
VITE_API_SCOPE=api://d88e02e7-1a2d-4d8c-b8f8-ad917d8adeac/access_as_user
VITE_API_BASE_URL=https://vpujo2jgg9.execute-api.us-east-1.amazonaws.com
